.container {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    @media @mobile{
      flex-direction: column;
      padding: 0;
    }
    section {
      display: flex;
      align-items: center;
      @media @mobile{
        margin: 1rem 0;
      }
      img {
        height: 7.5rem;
      }
      h1 {
        margin-left: 1.5rem;
        font-size: 3.6rem;
        color: @nav-heading;
      }
    }
    nav {
      a {
        margin: 0 2rem;
        font-size: @nav-font-size;
        color: @nav-anchors;
        text-decoration: none;
        @media @mobile{
          margin: 0 0.5rem;
          font-size: @nav-font-size-Mobile;
        }
      }
      button {
        background-color: @nav-button;
        box-shadow: 0rem 0rem 1.3rem 0.1rem rgba(0,0,0,0.3);
        color:@nav-anchors;
        font-size: 2rem;
        border-radius: 0.5rem;
        border: none;
        padding: 1.2rem 2.5rem;
        cursor: pointer;
        transition: @fast-transition;
        &:hover{
          background-color: @nav-button-hover;
          transition: @fast-transition;
        }
        @media @mobile{
          padding: 0.5rem 1.5rem;
          font-size: @nav-font-size-Mobile;
          box-shadow: none;
        }
      }
    }
  }
}
