//colors
@bg-color: #332A2E;
@nav-heading : #FEF8F8;
@nav-anchors : #EEEEEE;
@nav-button :#1762a7;
@nav-button-hover: #0b4072;
@nav-hover: @skyblue;

@cozywhite: #f3e8db;
@accent-color: #27151d;
@gold: #e6d472;
@skyblue: #6caeeb;
@lightskyblue: #c6dff7;