@import "Variables/fonts.less";
@import "Variables/colours.less";
@import "Variables/box-sizings.less";


//media breakpoints
@mobile: ~"(max-width: 630px)";
@tablet: ~"(max-width: 1124px)";

//images
@image-size: 40rem;
@mobile-image-size: 30rem;

//animations
@fast-transition: background-color 0.3s;


