/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*  default box-sizing*/
*,
html,
body {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    padding: 0;
  }
}
header section {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  header section {
    margin: 1rem 0;
  }
}
header section img {
  height: 7.5rem;
}
header section h1 {
  margin-left: 1.5rem;
  font-size: 3.6rem;
  color: #FEF8F8;
}
header nav a {
  margin: 0 2rem;
  font-size: 2.4rem;
  color: #EEEEEE;
  text-decoration: none;
}
@media (max-width: 500px) {
  header nav a {
    margin: 0 0.5rem;
    font-size: 2rem;
  }
}
header button {
  background-color: #1762a7;
  box-shadow: 0rem 0rem 1.3rem 0.1rem rgba(0, 0, 0, 0.3);
  color: #EEEEEE;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1.2rem 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
header button:hover {
  background-color: #0b4072;
  transition: background-color 0.3s;
}
@media (max-width: 500px) {
  header button {
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    box-shadow: none;
  }
}
.main-content {
  padding-top: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (max-width: 500px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
}
.top-content {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.4;
}
@media (max-width: 500px) {
  .top-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.super-ty {
  height: 40rem;
  z-index: 1;
}
@media (max-width: 500px) {
  .super-ty {
    height: 30rem;
  }
}
.slogan {
  display: flex;
  flex-direction: column;
}
.slogan h2 {
  align-self: flex-start;
  margin-bottom: 4rem;
  color: #FEF8F8;
}
@media (max-width: 500px) {
  .slogan h2 {
    align-self: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    padding-top: 2.5rem;
  }
}
#quote {
  width: 62rem;
  margin-left: 4rem;
  font-size: 2rem;
  padding: 1.5rem;
  background-color: #f3e8db;
  color: #332A2E;
  border-radius: 0.5rem;
}
#quote i {
  font-style: italic;
}
#quote em {
  font-weight: bold;
}
@media (max-width: 500px) {
  #quote {
    font-size: 1.8rem;
    padding: 1rem;
    margin: 0 2rem;
    width: unset;
  }
}
.middle-content {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.middle-content .mission {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}
@media (max-width: 500px) {
  .middle-content .mission {
    flex-direction: column;
  }
}
.middle-content .link {
  background-color: #27151d;
  border-radius: 0.5rem;
  color: #f3e8db;
  box-shadow: 0rem 0rem 0.7rem 0.1rem rgba(39, 21, 29, 0.5);
  text-align: center;
  padding: 3rem;
  font-size: 1.6rem;
  margin: 1rem 0;
  transition: background-color 0.3s;
  cursor: pointer;
}
.middle-content .link:hover {
  background-color: #1762a7;
  transition: background-color 0.3s;
}
.middle-content .item {
  display: flex;
  flex-direction: column;
  background-color: #332A2E;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.7rem 0.1rem rgba(39, 21, 29, 0.5);
  padding: 2rem;
  width: 80rem;
  margin: 1rem 0;
  height: 21rem;
  display: none;
}
@media (max-width: 500px) {
  .middle-content .item {
    width: 100%;
    margin: 0;
    height: unset;
  }
}
.middle-content .item h3 {
  font-size: 3.6rem;
  line-height: 1.5;
}
.middle-content .item p {
  font-size: 2rem;
  line-height: 1.25;
}
.middle-content .selected {
  display: flex;
}
html,
body {
  font-size: 62.5%;
  background-color: #332A2E;
  font-family: 'Ruda', sans-serif;
  color: white;
}
p {
  font-size: 1.6rem;
}
h2 {
  font-size: 4.6rem;
}
.blue-seperator {
  position: fixed;
  background-color: #383841;
  width: 200%;
  height: 60rem;
  top: 48%;
  transform: rotate(-5deg);
  z-index: 0;
  box-shadow: 0px 0px 7px 1px rgba(39, 21, 29, 0.5);
}
#copyright {
  font-size: 1.4rem;
  padding: 2.5rem;
}
