
html,
body {
  font-size: 62.5%;
  background-color: @bg-color;
  font-family: @primaryFontFamily;
  color: white;
}
p {
  font-size: @paragraph-font-size;
  line-height: @lineHeight-paragraph;
}
h1 {
  font-size: @headline-font-size;
  @media @mobile{
    font-size: @mobile-headline-font-size;
  }
}
h2{
  font-size: @heading2-font-size;
  color: @nav-heading;
}
h3{
  font-size: @heading3-font-size;
  text-align: center;
}
i {
  font-style: italic;
}
em {
  font-weight: bold;
}
.blue-seperator {
  position: fixed;
  background-color: #383841;
  width: 200%;
  height: 60rem;
  top: 48%;
  transform: rotate(-5deg);
  margin-left: -37.5%;
  z-index: 0;
  box-shadow: @subtle-shadow-up;
}
#copyright{
  font-size: @small-paragraph-font-size;
  padding: @small-top-padding;
}

//custom scrollbar

::-webkit-scrollbar {
  width: 1.4rem;
}

::-webkit-scrollbar-track {
  background: darken(@accent-color, 10);
}
 
::-webkit-scrollbar-thumb {
  background: @accent-color;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten(@accent-color, 10);
}