header {
  .flex-direction(row);
  .justify-align(space-between, center);
  padding: 3rem;
  @media @mobile {
  .flex-direction(column);
    padding: 0;
  }
  section {
    display: flex;
  .justify-align(flex-start, center);
    @media @mobile {
      .vertical-margins(1rem);
    }
    img {
      height: 7.5rem;
    }
    h2 {
      margin-left: 1.5rem;
    }
  }
  nav {
    a {
      .horizontal-margins(2rem);
      font-size: @nav-font-size;
      color: @nav-anchors;
      text-decoration: none;
      @media @mobile {
      .horizontal-margins(0.5rem);
        font-size: @nav-font-size-Mobile;
      }
    }
  }
  button {
    .btn-mixin();
  }
}
